force-app/main/default/flows/SAMPLE_Get_Random_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Random_User</name>
        <label>Get Random User</label>
        <locationX>499</locationX>
        <locationY>638</locationY>
        <actionName>RecordOwnerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
        <inputParameters>
            <name>cacheAllUserRecords</name>
            <value>
                <elementReference>cacheUsersQuery.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromWhereNameOrId</name>
            <value>
                <elementReference>Query_Component_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromWhereType</name>
            <value>
                <elementReference>Query_Component_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>501</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Random_User.randomUser.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Simulated_While_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceGroupOrQueue</name>
        <choiceText>Group or Queue Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>group</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceProfile</name>
        <choiceText>Profile Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRole</name>
        <choiceText>Role Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>role</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUserFullName</name>
        <choiceText>User Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>user</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Simulated_While_Loop</name>
        <label>Simulated While Loop</label>
        <locationX>764</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_Ceiling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Number_of_Loops</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Random_User</targetReference>
            </connector>
            <label>Counter &lt; Ceiling</label>
        </rules>
    </decisions>
    <interviewLabel>SAMPLE - Get Random Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAMPLE - Get Random User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>757</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayOut</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Counter: &lt;/b&gt;{!counter}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Users&lt;/b&gt;: {!users}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Starting_Screen</name>
        <label>Starting Screen</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Simulated_While_Loop</targetReference>
        </connector>
        <fields>
            <name>Number_of_Loops</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Loops</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Query_Component_Type</name>
            <choiceReferences>choiceProfile</choiceReferences>
            <choiceReferences>choiceGroupOrQueue</choiceReferences>
            <choiceReferences>choiceRole</choiceReferences>
            <choiceReferences>choiceUserFullName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Query Component Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Query_Component_Name</name>
            <dataType>String</dataType>
            <fieldText>Query Component Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cacheUsersQuery</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cache Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Starting_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
